{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block meta %}
    <meta name="description" content="page utilisateur">
{% endblock %}

{% block body %}
    <main class="flex">
        {% include "/nav/navMenuMobile.html.twig" %}
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide flex userPage">
            <h1>Nouveau mot de passe</h1>
            {{ form_errors(userInfo) }}

            {{ form_start(userInfo) }}
                <div>
                    {{ form_row(userInfo.passwordConfirm, {
                        label: 'Mot de Passe Actuelle : '
                    }) }}
                </div>
                <div>
                    {{ form_row(userInfo.plainPassword, {
                        label: 'Mot de Passe : '
                    }) }}
                </div>

                <button type="submit" class="btnUser">Register</button>

            {{ form_end(userInfo) }}
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}