{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block meta %}
    <meta name="description" content="page utilisateur">
{% endblock %}

{% block body %}
    <main class="flex">
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </section>
        <section class="longSide flex userPage">
            <h1>Votre Page</h1>
            {{ form_errors(userInfo) }}

            {{ form_start(userInfo) }}
                <div>
                    <p>Votre Pseudo : {{ app.user.username }}</p>
                    {{ form_row(userInfo.username, {
                        label: 'Pseudo : '
                    }) }}
                </div>
                <div>
                    <p>{{ app.user.email }}</p>
                    {{ form_row(userInfo.email, {
                        label: 'Email : '
                    }) }}
                </div>
                <div>
                    {{ form_row(userInfo.plainPassword, {
                        label: 'Mot de Passe : '
                    }) }}
                </div>

                <p>Gold : {{ app.user.gold }}</p>

                <p>Nombre de win : {{ app.user.winCount }}</p>

                <button type="submit" class="btn">Register</button>

            {{ form_end(userInfo) }}
        </section>
    </main>
{% endblock %}