{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block meta %}
    <meta name="description" content="page utilisateur">
{% endblock %}

{% block body %}
    <main class="flex">
        {% include "/nav/navMenuMobile.html.twig" %}
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide flex userPage">
            <h1>Votre Page</h1>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="admin">
                    <h2>Acces Administration</h2>
                    <a href="{{ path('admin') }}">Equilibrage</a>
                    <a href=""></a>
                </div>
            {% endif %}
            {{ form_errors(userInfo) }}

            {{ form_start(userInfo) }}
                <div>
                    <p>Votre Pseudo : {{ app.user.username }}</p>
                    {{ form_row(userInfo.username, {
                        label: 'Pseudo : '
                    }) }}
                </div>
                <div>
                    <p>{{ app.user.email }}</p>
                    {{ form_row(userInfo.email, {
                        label: 'Email : '
                    }) }}
                </div>
                <div>
                    {{ form_row(userInfo.password, {
                        label: 'Mot de Passe : '
                    }) }}
                </div>

                <p>Gold : {{ app.user.gold }}</p>

                <p>Nombre de win : {{ app.user.winCount }}</p>

                <div class="actionUser">
                    <a class="btnUser" onclick="deleteUser()">Supprimez le compte <i class="fa-solid fa-trash"></i></a>
                    <a href="{{ path('app_password') }}" class="btnUser">Changer de mot de passe <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <button type="submit" class="btnUser">Register</button>
                </div>

            {{ form_end(userInfo) }}
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}