{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block stylesheets %}
            
            <link rel="stylesheet" href="{{ asset('/css/creation.css') }}">
{% endblock %}

{% block body %}
    <main class='flex'>
        {% include "/nav/navMenuMobile.html.twig" %}
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide creationPage">
            {{ form_errors(accessory) }}

            {{ form_start(accessory) }}
            {{ form_end(accessory) }}
            {# ajouter les suffix sur certain partie du form quand plus personaliser #}
            {# + 300 gold reduc wait turn / + 50 gold par energy action supplementaire #}
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/creation.js') }}"></script>
{% endblock %}