{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/css/creation.css') }}">
{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide creationPage">
            {% include "/nav/navMenuMobile.html.twig" %}
            {{ form_errors(perso) }}

            {{ form_start(perso) }}
                <div class="creationPart leftCreation flex">
                    <div class="ligne">
                        <div class="ligneSup flex">
                            {{ form_label(perso.element) }}
                            {{ form_widget(perso.element) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup flex">
                            {{ form_label(perso.type) }}
                            {{ form_widget(perso.type) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup flex">
                            {{ form_label(perso.category) }}
                            {{ form_widget(perso.category) }}
                        </div>
                        {# <div class="ligneInf">
                        </div> #}
                    </div>
                </div>
                <div class="shortSide creationPart rightCreation flex">
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(perso.name) }}
                        </div>
                        <div class="ligneMid">
                            {{ form_widget(perso.name) }}
                        </div>
                        <div class="ligneInf">
                            {{ form_errors(perso.name) }}
                        </div>
                    </div>
                    <div class="ligne separation">
                        <p>Nombre de point allouable : <span id="pointAllouable"></span></p>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(perso.life) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="hpMinus" onclick="lessHpPerso()" disabled>-</a>
                                </div>
                                {{ form_widget(perso.life) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="hpPlus" onclick="moreHpPerso()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(perso.life) }}
                            {{ form_errors(perso.life) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(perso.attack) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="atkMinus" onclick="lessAtkPerso()">-</a>
                                </div>
                                {{ form_widget(perso.attack) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="atkPlus" onclick="moreAtkPerso()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(perso.attack) }}
                            {{ form_errors(perso.attack) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(perso.magic) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="magMinus"  onclick="lessMagPerso()">-</a>
                                </div>
                                {{ form_widget(perso.magic) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="magPlus"  onclick="moreMagPerso()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(perso.magic) }}
                            {{ form_errors(perso.magic) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(perso.energy) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="nrjMinus"  onclick="lessNrjPerso()">-</a>
                                </div>
                                {{ form_widget(perso.energy) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="nrjPlus"  onclick="moreNrjPerso()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(perso.energy) }}
                            {{ form_errors(perso.energy) }}
                        </div>
                    </div>
                    <div class="zoneValidate">
                        <a onclick="validate()">Valider</a>
                        {{ form_widget(perso.valider) }}
                    </div>
                </div>
            {{ form_end(perso) }}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/creationPersonnage.js') }}"></script>
{% endblock %}