{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/creation.css') }}">
{% endblock %}

{% block body %}
    <main class='flex wep'>
        {% include "/nav/navMenuMobile.html.twig" %}
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide creationPage flex">
            {{ form_errors(weapon) }}

            {{ form_start(weapon) }}
                <div class="creationPart leftCreation flex">
                    <span class="gold creationGold desktop">{{ app.user.getGold }}&nbsp;G</span>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.weaponType) }}
                            {{ form_widget(weapon.weaponType) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup flex">
                            {{ form_label(weapon.weaponCategory) }}
                            {{ form_widget(weapon.weaponCategory) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.weaponElement) }}
                            {{ form_widget(weapon.weaponElement) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.skillElement) }}
                            {{ form_widget(weapon.skillElement) }}
                        </div>
                    </div>
                </div>
                <div class="shortSide creationPart rightCreation flex">
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.name) }}
                        </div>
                        <div class="ligneMid">
                            {{ form_widget(weapon.name) }}
                        </div>
                        <div class="ligneInf">
                            {{ form_errors(weapon.name) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.nameSkill) }}
                        </div>
                        <div class="ligneMid">
                            {{ form_widget(weapon.nameSkill) }}
                        </div>
                        <div class="ligneInf">
                            {{ form_errors(weapon.nameSkill) }}
                        </div>
                    </div>
                    <div class="ligne separation">
                        <div class="ligne">
                            <p>Cout en or : <span id="cost" class="gold"></span></p>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.attackStat) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="atkStatMinus" onclick="lessAtkStat()">-</a>
                                </div>
                                {{ form_widget(weapon.attackStat) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="atkStatPlus" onclick="moreAtkStat()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.attackStat) }}
                            {{ form_errors(weapon.attackStat) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.magicStat) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="magStatMinus"  onclick="lessMagStat()">-</a>
                                </div>
                                {{ form_widget(weapon.magicStat) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="magStatPlus"  onclick="moreMagStat()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.magicStat) }}
                            {{ form_errors(weapon.magicStat) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.attackSkill) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="atkSkillMinus" onclick="lessAtkSkill()">-</a>
                                </div>
                                {{ form_widget(weapon.attackSkill) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="atkSkillPlus" onclick="moreAtkSkill()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.attackSkill) }}
                            {{ form_errors(weapon.attackSkill) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.magicSkill) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="magSkillMinus"  onclick="lessMagSkill()">-</a>
                                </div>
                                {{ form_widget(weapon.magicSkill) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="magSkillPlus"  onclick="moreMagSkill()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.magicSkill) }}
                            {{ form_errors(weapon.magicSkill) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.energySkill) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="nrjMinus"  onclick="lessNrjSkill()">-</a>
                                </div>
                                {{ form_widget(weapon.energySkill) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="nrjPlus"  onclick="moreNrjSkill()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.energySkill) }}
                            {{ form_errors(weapon.energySkill) }}
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="ligneSup">
                            {{ form_label(weapon.waitSkill) }}
                            <div class="statLigne flex">
                                <div class='flex'>
                                    <a class="buttonStat statMinus grey" id="waitMinus"  onclick="lessWaitSkill()">-</a>
                                </div>
                                {{ form_widget(weapon.waitSkill) }}
                                <div class='flex'>
                                    <a class="buttonStat statPlus" id="waitPlus"  onclick="moreWaitSkill()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="ligneInf infoStat">
                            {{ form_help(weapon.waitSkill) }}
                            {{ form_errors(weapon.waitSkill) }}
                        </div>
                    </div>
                    <div class="zoneValidate">
                        <a onclick="validate()">Valider</a>
                        {{ form_widget(weapon.valider) }}
                    </div>
                </div>
            {{ form_end(weapon) }}
            {# ajouter les suffix sur certain partie du form quand plus weaponnaliser #}
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/creationWeapon.js') }}"></script>
{% endblock %}