{% extends 'base.html.twig' %}

{% block title %}Inventaire équipement{% endblock %}

{% block body %}
    <main>
        <div class="shortSide">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </div>
        <div class="longSide">
            <header class="topBar">
                <div class="buttonNav mobile">
                    <span></span><span></span><span></span>
                </div>
                <div class="pseudo desktop">{{ app.user.userIdentifier }}</div>
                <div class="parameter"></div>
            </header>
            <div id="teammates">
                <div id="inventory">
                    <div class="personnagesIcone unselectedInventory"><a href="{{ path('app_stock_personnage') }}">image1</a></div>
                    <div class="weaponsIcone unselectedInventory"><a href="{{ path('app_stock_weapon') }}">image2</a></div>
                    <div class="accessoryIcone selectedInventory">image3</div>
                </div>
                {% for accessory in accessorys %}
                    {# {% if accessory.statAction == 1 %}
                        {% set rankStat = accessory.typeStatAction.rankStat1 %}
                    {% elseif accessory.statAction == 2 %}
                        {% set rankStat = accessory.typeStatAction.rankStat2 %}
                    {% elseif accessory.statAction == 3 %}
                        {% set rankStat = accessory.typeStatAction.rankStat3 %}
                    {% else %}
                        {% set rankStat = accessory.typeStatAction.rankStat4 %}
                    {% endif %} #} <!-- when doing infobulle js -->
                    <div id="cardInventory">
                        <div class="topCard">
                            <div class="infoBulle">i</div>
                            <div class="nameCard">{{ accessory.name }}</div>
                        </div>
                        <div class="mainCard">
                            <div class="leftCard">
                                <span>{{ accessory.nameAction }}</span>
                                <span>{{ accessory.typeStatAction.nomType }}</span>
                            </div>
                            <!-- <div class="rightCard">
                                <figure></figure>
                            </div> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}