{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="inventaire d'accéssoire">
{% endblock %}

{% block title %}Inventaire équipement{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide inventoryPage">
            <header class="topBar flex desktop">
                <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                <div class="parameter"></div>
            </header>
            {% include "/nav/navMenuMobile.html.twig" %}
            <div id="teammates">
                <div id="inventory" class="flex">
                    <div class="personnagesIcone unselectedInventory invIco"><a href="{{ path('app_stock_personnage') }}"><img src="{{ asset('img/icon/personnages.png') }}"/></a></div>
                    <div class="weaponsIcone unselectedInventory invIco"><a href="{{ path('app_stock_weapon') }}"><img src="{{ asset('img/icon/weapon.png') }}"/></a></div>
                    <div class="accessoryIcone selectedInventory invIco"><a><img src="{{ asset('img/icon/accessory.png') }}"/></a></div>
                </div>
                <div class="cards flex scrollable">
                    {% for accessory in accessorys %}
                        {# {% if accessory.statAction == 1 %}
                            {% set rankStat = accessory.typeStatAction.rankStat1 %}
                        {% elseif accessory.statAction == 2 %}
                            {% set rankStat = accessory.typeStatAction.rankStat2 %}
                        {% elseif accessory.statAction == 3 %}
                            {% set rankStat = accessory.typeStatAction.rankStat3 %}
                        {% else %}
                            {% set rankStat = accessory.typeStatAction.rankStat4 %}
                        {% endif %} #} <!-- when doing infobulle js -->
                        <div class="cardInventory flex">
                            <div class="topCard flex">
                                <button class="infoBulle">i</button>
                                <div class="nameCard">{{ accessory.name }}</div>
                            </div>
                            <div class="mainCard flex">
                                <div class="leftCard flex">
                                    <span>{{ accessory.nameAction }}</span>
                                    <span>{{ accessory.typeStatAction.nomType }}</span>
                                </div>
                                <figure class="rightCard imgPerso flex">
                                    <img class="imgFigure" src="{{ asset(accessory.imagePath) }}" alt="image du personnage">
                                </figure>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}