{% extends 'base.html.twig' %}

{% block title %}Classemant personnages{% endblock %}

{% block meta %}
    <meta name="description" content="inventaire de personnage">
{% endblock %}

{% block body %}
    <main class='flex mainInventory'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </section>
        <section class="longSide inventoryPage">
            <header class="topBar flex desktop">
                
                
                <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                <div class="parameter"></div>
            </header>
            <div id="teammates">
                <div id="inventory" class="flex">
                    <div class="invIco personnagesIcone selectedInventory"><a><img src="{{ asset('img/icon/personnages.webp') }}"/></a></div>
                    <div class="invIco weaponsIcone unselectedInventory"><a href="{{ path('app_stock_weapon') }}"><img src="{{ asset('img/icon/weapon.webp') }}"/></a></div>
                    <div class="invIco accessoryIcone unselectedInventory"><a href="{{ path('app_stock_accessory') }}"><img src="{{ asset('img/icon/accessory.webp') }}"/></i></a></div>
                </div>
                <div class="cards flex scrollable">
                    {% for personnage in personnages %}
                        <div class="cardInventory flex">
                            <div class="topCard flex">
                                <button class="infoBulle">i</button>
                                <div class="nameCard">{{ personnage.name }}</div>
                            </div>
                            <div class="mainCard flex">
                                <div class="leftCard flex">
                                    <span>{{ personnage.element.nameElement }}</span>
                                    <span>{{ personnage.type.nameType }}</span>
                                    <span>{{ personnage.category.nameCategory }}</span>
                                </div>
                                <figure class="rightCard imgPerso flex">
                                    <img class="imgFigure" src="{{ asset(personnage.imagePath) }}" alt="image du personnage">
                                </figure>
                            </div>
                        </div>
                        <div class="moreInfo notShowed">
                            <figure>
                                <figcaption>{{ personnage.name }}</figcaption>
                                <img class="imgFigure" src="{{ asset(personnage.imagePath) }}" alt="image du personnage">
                            </figure>
                            <div class="block.Info">
                                <span>{{ personnage.element.nameElement }}</span>
                                <span>{{ personnage.type.nameType }}</span>
                                <span>{{ personnage.category.nameCategory }}</span>
                            </div>
                            <div class="block.Stat">
                                <span>Attaque : {{ personnage.life }}</span>
                                <span>Attaque : {{ personnage.attack }}</span>
                                <span>Attaque : {{ personnage.magic }}</span>
                                <span>Attaque : {{ personnage.energy }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}