{% extends 'base.html.twig' %}

{% block title %}Classemant personnages{% endblock %}

{% block body %}
    <main class='flex'>
        <div class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </div>
        <div class="longSide">
            <header class="topBar flex">
                <div class="buttonNav mobile">
                    <span></span><span></span><span></span>
                </div>
                <div class="pseudo desktop">{{ app.user.userIdentifier }}</div>
                <div class="parameter"></div>
            </header>
            <div id="teammates">
                <div id="selectionPath">
                    <div class="personnagesIcone selectedInventory">image1</div>
                    <div class="weaponsIcone unselectedInventory"><a href="{{ path('app_stock_weapon') }}">image2</a></div>
                    <div class="accessoryIcone unselectedInventory"><a href="{{ path('app_stock_accessory') }}">image3</a></div>
                </div>
                {% for personnage in personnages %}
                    <div id="cardInventory">
                        <div class="topCard">
                            <div class="infoBulle">i</div>
                            <div class="nameCard">{{ personnage.name }}</div>
                        </div>
                        <div class="mainCard">
                            <div class="leftCard">
                                <span>{{ personnage.element.nameElement }}</span>
                                <span>{{ personnage.type.nameType }}</span>
                                <span>{{ personnage.category.nameCategory }}</span>
                            </div>
                        </div>
                        <!-- <div class="rightCard">
                            <figure></figure>
                        </div> -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}