{% extends 'base.html.twig' %}

{% block title %}Inventaire armes{% endblock %}

{% block meta %}
    <meta name="description" content="inventaire d'arme">
{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </section>
        <section class="longSide">
            <header class="topBar flex">
                
                
                <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                <div class="parameter"></div>
            </header>
            <div id="teammates">
                <div id="inventory" class="flex">
                    <div class="personnagesIcone unselectedInventory invIco"><a href="{{ path('app_stock_personnage') }}"><img src="{{ asset('img/icon/personnages.png') }}"/></a></div>
                    <div class="weaponsIcone selectedInventory invIco"><a><img src="{{ asset('img/icon/weapon.png') }}"/></a></div>
                    <div class="accessoryIcone unselectedInventory invIco"><a href="{{ path('app_stock_accessory') }}"><img src="{{ asset('img/icon/accessory.png') }}"/></a></div>
                </div>
                <div class="cards flex scrollable">
                    {% for weapon in weapons %}
                        <div class="cardInventory flex">
                            <div class="topCard flex">
                                <button class="infoBulle">i</button>
                                <div class="nameCard">{{ weapon.name }}</div>
                            </div>
                            <div class="mainCard flex">
                                <div class="leftCard flex">
                                    <span>{{ weapon.weaponType.nameType }}</span>
                                    <span>{{ weapon.weaponCategory.nameCategory }}</span>
                                    <span>{{ weapon.weaponElement.nameElement }}</span>
                                    <span>{{ weapon.skillElement.nameElement }}</span>
                                </div>
                                <figure class="rightCard imgPerso">
                                    <img class="imgFigure" src="{{ asset(weapon.imagePath) }}" alt="image du personnage">
                                </figure>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}