{% extends 'base.html.twig' %}

{% block title %}Hello FightController!{% endblock %}

{% block javascripts %}
    <script>
        var ennemie ="{{ ennemieData }}";
        var ally ="{{ allyData }}";
        var ennemieInfo ="{{ ennemieInfo }}";
        var allyInfo ="{{ allyInfo }}";
        var element ="{{ element }}";
        var type ="{{ type }}";
        var category ="{{ category }}";
    </script>
    <script src="{{ asset('/js/fight.js') }}"></script>
{% endblock %}

{% block body %}
    <main>
        {# {{ dump( app.session ) }} #}
        <section class="longSide">
            <div id="scene">
                <div class="ennemiesSide">
                    <div>
                        <span>{{ ennemie.personnage.getName }}</span>
                        <ul>
                            <li>{{ ennemie.weapon.getName }}</li>
                            <li>{{ ennemie.accessory.getName }}</li>
                        </ul>
                    </div>
                    <div>
                        <div class="healthBar">
                            <div class="greenBar"></div>
                            <div class="redBar"></div>
                            <span>/{{ ennemie.personnage.getLife }}</span>
                        </div>
                        <div class="energyBar">
                            <div class="blueBar"></div>
                            <div class="blackBar"></div>
                            <span>/{{ ennemie.personnage.getEnergy }}</span>
                        </div>
                    </div>
                </div>
                <div class="allySide">
                    <div>
                        <span>{{ ally.personnage.getName }}</span>
                        <ul>
                            <li>{{ ally.weapon.getName }}</li>
                            <li>{{ ally.accessory.getName }}</li>
                        </ul>
                    </div>
                    <div>
                        <div class="energyBar">
                            <div class="blueBar"></div>
                            <div class="blackBar"></div>
                            <span>/{{ ally.personnage.getEnergy }}</span>
                        </div>
                        <div class="healthBar">
                            <div class="greenBar"></div>
                            <div class="redBar"></div>
                            <span>/{{ ally.personnage.getLife }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="actionBar">
                <button type="button" class="buttonFight" onclick="allyAttack()">Attaque</button>
                <button type="button" class="buttonFight" onclick="checkActionElement()">{{ ally.weapon.getNameSkill }}</button>
                <button type="button" class="buttonFight">{{ ally.accessory.getNameAction }}</button>
                <a href="{{ path('app_lose') }}" class="buttonFight">Abandonné</a>
                <button type="button" class="mobile buttonFight">Log (icone fleche haut)</button>
            </div>
        </section>
        <section class="shortSide">
            <div id="logs">

            </div>
            <button type="button" class="mobile buttonFight">Combat (icone fleche bas)</button>
        </section>
    </main>
{% endblock %}