{% extends 'base.html.twig' %}

{% block title %}Hello FightController!{% endblock %}

{% block body %}
    <main>
        {# {{ dump( app.session.get('ally') ) }} #}
        <section class="longSide">
            <div id="scene">
                <div class="ennemiesSide">
                    <div>
                        <span>{{ ennemie.personnage.getName }}</span>
                        <ul>
                            <li>{{ ennemie.weapon.getName }}</li>
                            <li>{{ ennemie.accessory.getName }}</li>
                        </ul>
                    </div>
                    <div>
                        <div class="healthBar">
                            <div class="greenBar"></div>
                            <div class="redBar"></div>
                            <span>{{ app.session.get('ennemie')['hp'] }}/{{ ennemie.personnage.getLife }}</span>
                        </div>
                        <div class="energyBar">
                            <div class="blueBar"></div>
                            <div class="blackBar"></div>
                            <span>{{ app.session.get('ennemie')['energy'] }}/{{ ennemie.personnage.getEnergy }}</span>
                        </div>
                    </div>
                </div>
                <div class="allySide">
                    <div>
                        <span>{{ teammate.personnage.getName }}</span>
                        <ul>
                            <li>{{ teammate.weapon.getName }}</li>
                            <li>{{ teammate.accessory.getName }}</li>
                        </ul>
                    </div>
                    <div>
                        <div class="energyBar">
                            <div class="blueBar"></div>
                            <div class="blackBar"></div>
                            <span>{{ app.session.get('ally')['energy'] }}/{{ teammate.personnage.getEnergy }}</span>
                        </div>
                        <div class="healthBar">
                            <div class="greenBar"></div>
                            <div class="redBar"></div>
                            <span>{{ app.session.get('ally')['hp'] }}/{{ teammate.personnage.getLife }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="actionBar">
                <button type="button" class="buttonFight">Attaque</button>
                <button type="button" class="buttonFight">{{ teammate.weapon.getNameSkill }}</button>
                <button type="button" class="buttonFight">{{ teammate.accessory.getNameAction }}</button>
                <a href="{{ path('app_lose') }}" class="buttonFight">Abandonné</a>
                <button type="button" class="mobile buttonFight">Log (icone fleche haut)</button>
            </div>
        </section>
        <section class="shortSide">
            <div id="logs">
                
            </div>
            <button type="button" class="mobile buttonFight">Combat (icone fleche bas)</button>
        </section>
    </main>
{% endblock %}
