{% extends 'base.html.twig' %}

{% block title %}Hello FightController!{% endblock %}

{% block meta %}
    <meta name="description" content="scène de combat">
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fight.css') }}">
{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="longSide flex fightPart">
            <div id="scene" class="flex">
                <div class="ennemieSide flex aSide">
                    <div class="ennemieName flex">
                        <figure class="imgPerso">
                            <figcaption class="desktop">{{ ennemie.personnage.getName }}</figcaption>
                            <img class="imgFigurePerso" src="{{ asset(ennemie.personnage.imagePath) }}" alt="personnage adverse">
                        </figure>
                        <ul class="flex">
                            <li class="blockItem">
                                <figure>
                                    <img class="imgFigure" src="{{ asset(ennemie.weapon.imagePath) }}" alt="arme adverse">
                                </figure>
                            </li>
                            <li class="blockItem">
                                <figure>
                                    <img class="imgFigure" src="{{ asset(ennemie.accessory.imagePath) }}" alt="accessoire adverse">
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="bars flex">
                        <div class="healthBar bar">
                            <div class="greenBar ennemieHealthBar"></div>
                            <div class="redBar"></div>
                            <span id="actualEnnemieHp"></span>
                        </div>
                        <div class="energyBar bar">
                            <div class="blueBar ennemieEnergyBar"></div>
                            <div class="blackBar"></div>
                            <span id="actualEnnemieEnergy"></span>
                        </div>
                    </div>
                </div>
                <div class="allySide flex aSide">
                    <div class="allyName flex">
                        <figure class="imgPerso">
                            <figcaption class="desktop">{{ ally.personnage.getName }}</figcaption>
                            <img class="imgFigurePerso" src="{{ asset(ally.personnage.imagePath) }}" alt="personnage allié">
                        </figure>
                        <ul class="flex">
                            <li class="blockItem">
                                <figure>
                                    <img class="imgFigure" src="{{ asset(ally.weapon.imagePath) }}" alt="arme allié">
                                </figure>
                            </li>
                            <li class="blockItem">
                                <figure>
                                    <img class="imgFigure" src="{{ asset(ally.accessory.imagePath) }}" alt="accessoire allié">
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="bars flex">
                        <div class="energyBar bar">
                            <div class="blueBar allyEnergyBar"></div>
                            <div class="blackBar"></div>
                            <span id="actualAllyEnergy"></span>
                        </div>
                        <div class="healthBar bar">
                            <div class="greenBar allyHealthBar"></div>
                            <div class="redBar"></div>
                            <span id="actualAllyHp"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="actionBar" class="flex">
                <div class="flex">
                    <button type="button" class="buttonFight" id="attackButton" onclick="allyAttack()">Attaque</button>
                    <button type="button" class="buttonFight" id="skillButton" onclick="allySkill()">{{ ally.weapon.getNameSkill }}</button>
                </div>
                <div class="flex">
                    <button type="button" class="buttonFight" id="actionButton" onclick="allyAction()">{{ ally.accessory.getNameAction }}</button>
                    <button type="button" class="buttonFight" id="loseButton" onclick="lose()">Abandonné</button>
                </div>
                <button type="button" class="mobile buttonFight" onclick="showLogMobile()">Log <i class="fa-solid fa-arrow-up"></i></button>
            </div>
        </section>
        <section class="shortSide flex logSide" id="logPart">
            <div id="logs">

            </div>
            <button type="button" class="mobile buttonFight" onclick="noLogMobile()">Combat <i class="fa-solid fa-arrow-down"></i></button>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        var ennemie ="{{ ennemieData }}";
        var ally ="{{ allyData }}";
        var element ="{{ element }}";
        var typeOfWeapon ="{{ type }}";
        var categoryOfWeapon ="{{ category }}";
    </script>
    <script src="{{ asset('/js/fight.js') }}"></script>
{% endblock %}