{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="vous retrouverez le classement des joueur ici">
{% endblock %}

{% block stylesheets %}
            
            <link rel="stylesheet" href="{{ asset('/css/ranking.css') }}">
{% endblock %}

{% block title %}Classemant{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% if app.user %}
                {% include "/nav/navMenuDesktop.html.twig" %}
                {% include "/nav/navMenuMobile.html.twig" %}
            {% else %}
                {% include "/nav/navNotConnected.html.twig" %}
                {% include "/nav/navNotConnectedMobile.html.twig" %}
            {% endif %}
        </section>
        <section class="longSide">
            <header class="topBar flex desktop">
                
                
                {% if app.user %}
                    <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                {% endif %}
                <div class="parameter"></div>
            </header>
            <div id="rankingTable" class="flex">
                <table>
                    <tr>
                        <th><div class="black"></div></th>
                        <th>Pseudo</th>
                        <th>Nombre de victoire</th>
                    </tr>
                    {% set i = 1 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.winCount }}</td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    {% if i < 10 %}
                    {% for i in i..10 %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
        </section>
    </main>
{% endblock %}