{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="menu principale du jeu une fois connecter">
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main class='flex'>
        {# {{ dump(selected) }} #}
        <section class="shortSide flex">
            <nav class="desktopFlex sidebar">
                <ul class="flex">
                    <li class="menuButton">
                        <a href="{{ path('app_main') }}">{{ 'menu'|upper }}</a>
                    </li>
                    <li class="menuButton">
                        <a href="{{ path('app_teammate') }}">{{ 'équipier'|upper }}</a>
                    </li>
                    <li class="menuButton">
                        <a href="">{{ 'échoppe'|upper }}</a>
                    </li>
                    <li class="menuButton">
                        <a href="{{ path('app_stock_personnage') }}">{{ 'inventaire'|upper }}</a>
                    </li>
                    <li class="menuButton dropdown">
                        <a href="#">{{ 'création'|upper }}</a>
                        <div class="dropdown-content">
                            <a href="{{ path('app_creation_personnage') }}">{{ 'personnages'|upper }}</a>
                            <a href="{{ path('app_creation_weapon') }}">{{ 'armes'|upper }}</a>
                            <a href="{{ path('app_creation_accessory') }}">{{ 'équipement'|upper }}</a>
                        </div>
                    </li>
                    <li class="menuButton">
                        <a href="{{ path('app_rank') }}">{{ 'classement'|upper }}</a>
                    </li>
                    <li class="menuButton">
                        <a href="{{ path('app_rule') }}">{{ 'règle'|upper }}</a>
                    </li>
                    <li class="menuButton">
                        <a href="{{ path('app_logout') }}">{{ 'déconnexion'|upper }}</a>
                    </li>
                </ul>
            </nav>
            <nav class="mobileFlex nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <header class="nav-header flex">
                    <a href="{{ path('app_user') }}" class="pseudo">{{ app.user.userIdentifier }}</a>
                    <span class="gold">{{ app.user.getGold }}&nbsp;G</span>
                    <button  class="parameter mobile"><i class="fa-solid fa-gear"></i></button>
                </header>
                <ul class="nav-list">
                    <li>
                        <div class="menuButton"><a href="{{ path('app_teammate') }}">{{ 'équipier'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="">{{ 'échoppe'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_stock_personnage') }}">{{ 'inventaire'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_creation_personnage') }}">{{ 'créa. perso.'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_creation_weapon') }}">{{ 'créa. armes'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_creation_accessory') }}">{{ 'créa. équip.'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_rank') }}">{{ 'classement'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_rule') }}">{{ 'règle'|upper }}</a></div>
                    </li>
                    <li>
                        <div class="menuButton"><a href="{{ path('app_logout') }}">{{ 'déconnexion'|upper }}</a></div>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="longSide flex">
            <header class="topBar flex">
                {{ form_errors(teammate) }}

                {{ form_start(teammate, { 'attr' : { 'class': 'teamSelector flex' } }) }}
                    {{ form_widget(teammate.Start) }}
                    {{ form_widget(teammate.equipe) }}
                {{ form_end(teammate) }}
                <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                <span class="gold desktop">{{ app.user.getGold }}&nbsp;G</span>
                <button  class="parameter desktop"><i class="fa-solid fa-gear"></i></button>
            </header>
            <div id="menuMain">
                <ol class="carousel__viewport">
                    {% for equipier in equipes %}
                        {# futur carousel #}
                    {% endfor %}
                </ol>
            </div>
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}