{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="menu pour un utilisateur non connecter">
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex notCoPage">
            {% include "/nav/navNotConnected.html.twig" %}
        </section>
        <section class="longSide">
            <header>
                <div class="parameter topRight"></div>
                <h1>The Little Fighting</h1>
                <p>Sur ce jeu vous pourrez lancer des combats avec des personnages, armes et équipements que vous aurez créés</p>
            </header>
            <main>
                <div class="classPerso flex">
                    <h2>Les différente classe de personnage jouable</h2>
                    <figure class="class">
                        <img src="{{ asset(img/character/axesman.webp) }}" alt="combattant à la hache">
                        <figcaption>Type 1 (Hache)</figcaption>
                        <figcaption>Classique</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/swordsman.webp) }}" alt="combattant à l'épée">
                        <figcaption>Type 2 ({{ 'é'|upper }}pée)</figcaption>
                        <figcaption>Classique</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/spearsman.webp) }}" alt="combattant à la lance">
                        <figcaption>Type 3 (Lance)</figcaption>
                        <figcaption>Classique</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/mage_tattou_midJourney_modified.webp) }}" alt="mage tatoué">
                        <figcaption>Type 1 (Tatouage)</figcaption>
                        <figcaption>Magie</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/mage_book_midjourney_modified.webp) }}" alt="mage avec un livre">
                        <figcaption>Type 2 (Livre)</figcaption>
                        <figcaption>Magie</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/mageWand.webp) }}" alt="mage avec sceptre">
                        <figcaption>Type 3 (Sceptre)</figcaption>
                        <figcaption>Magie</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/fighter.webp) }}" alt="combattant au gantelets">
                        <figcaption>Type 1 (Gantelets)</figcaption>
                        <figcaption>Alternatif</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/thief.webp) }}" alt="combattant à la dague">
                        <figcaption>Type 2 (Dague)</figcaption>
                        <figcaption>Alternatif</figcaption>
                    </figure>
                    <figure class="class">
                        <img src="{{ asset(img/character/ranger.webp) }}" alt="combattant à l'arc">
                        <figcaption>Type 3 (Arc)</figcaption>
                        <figcaption>Alternatif</figcaption>
                    </figure>
                </div>
                <div class="randomPerso">
                    <h2>Un personnage du jeu et ses caractéristique</h2>
                    <div>
                        <figure>
                            <img src="{{ asset(personnage.imagePath) }}" alt="l'image du personnage détailler">
                            <figcaption>{{ personnage.name }}</figcaption>
                        </figure>
                        <div>
                            <p>{{ 'é'|upper }}lément : {{ personnage.element.nameElement }}</p>
                            <p>Le Type : {{ personnage.type.nameType }}</p>
                            <p>La Catégorie{{ personnage.category.name }}</p>
                        </div>
                        <div>
                            <p>{{ personnage.life }}</p>
                            <p>{{ personnage.energy }}</p>
                            <p>{{ personnage.attack }}</p>
                            <p>{{ personnage.magic }}</p>
                        </div>
                    </div>
                </div>
            </main>

        </section>
    </main>
{% endblock %}