{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="menu pour un utilisateur non connecter">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/notCo.css') }}">
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex notCoPage">
            {% include "/nav/navNotConnected.html.twig" %}
            {% include "/nav/navNotConnectedMobile.html.twig" %}
        </section>
        <section class="longSide">
            <header class="headMain">
                <div class="parameter topRight"></div>
                <h1>The Little Fighting</h1>
                <p>Sur ce jeu vous pourrez lancer des combats avec des personnages, armes et équipements que vous aurez créés</p>
            </header>
            <div>
                <div class="classPerso flex">
                    <h2>Les différente classe de personnage jouable</h2>
                    <div class="flex classes">
                        <figure class="class">
                            <img src="{{ asset("img/character/axesman.webp") }}" alt="combattant à la hache">
                            <figcaption>Type 1 +</figcaption>
                            <figcaption>Classique</figcaption>
                            <figcaption class="arme">= <span>Hache</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/swordsman.webp") }}" alt="combattant à l'épée">
                            <figcaption>Type 2 +</figcaption>
                            <figcaption>Classique</figcaption>
                            <figcaption class="arme">= <span>{{ 'é'|upper }}pée</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/spearsman.webp") }}" alt="combattant à la lance">
                            <figcaption>Type 3 +</figcaption>
                            <figcaption>Classique</figcaption>
                            <figcaption class="arme">= <span>Lance</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/mage_tattou_midJourney_modified.webp") }}" alt="mage tatoué">
                            <figcaption>Type 1 +</figcaption>
                            <figcaption>Magie</figcaption>
                            <figcaption class="arme">= <span>Tatouage</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/mage_book_midjourney_modified.webp") }}" alt="mage avec un livre">
                            <figcaption>Type 2 +</figcaption>
                            <figcaption>Magie</figcaption>
                            <figcaption class="arme">= <span>Livre</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/mageWand.webp") }}" alt="mage avec sceptre">
                            <figcaption>Type 3 +</figcaption>
                            <figcaption>Magie</figcaption>
                            <figcaption class="arme">= <span>Sceptre</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/fighter.webp") }}" alt="combattant au gantelets">
                            <figcaption>Type 1 +</figcaption>
                            <figcaption>Alternatif</figcaption>
                            <figcaption class="arme">= <span>Gantelets</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/thief.webp") }}" alt="combattant à la dague">
                            <figcaption>Type 2 +</figcaption>
                            <figcaption>Alternatif</figcaption>
                            <figcaption class="arme">= <span>Dague</span></figcaption>
                        </figure>
                        <figure class="class">
                            <img src="{{ asset("img/character/ranger.webp") }}" alt="combattant à l'arc">
                            <figcaption>Type 3 +</figcaption>
                            <figcaption>Alternatif</figcaption>
                            <figcaption class="arme">= <span>Arc</span></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="randomPerso">
                    <h2>Un personnage du jeu et ses caractéristique</h2>
                    <div class="flex infoRandom">
                        <figure class="flex">
                            <img src="{{ asset(personnage.imagePath) }}" alt="l'image du personnage détailler">
                            <figcaption>{{ personnage.name }}</figcaption>
                        </figure>
                        <div class="random infoMid">
                            <p>{{ 'é'|upper }}lément&nbsp;: <span>{{ personnage.element.nameElement }}</span></p>
                            <p><span>{{ personnage.type.nameType }}</span></p>
                            <p>Catégorie&nbsp;: <span>{{ personnage.category.nameCategory }}</span></p>
                        </div>
                        <div class="random infoLast">
                            <p>Point de Vie&nbsp;: <span>{{ personnage.life }}</span></p>
                            <p>Energie&nbsp;: <span>{{ personnage.energy }}</span></p>
                            <p>Attaque&nbsp;: <span>{{ personnage.attack }}</span></p>
                            <p>Magie&nbsp;: <span>{{ personnage.magic }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}