{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="retrouver ici vos équipier et la possibilité de créer un nouvel équipier">
{% endblock %}

{% block title %}{{ 'é'|upper }}quipier{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>
        <section class="longSide">
            <header class="topBar flex desktop">
                
                
                <a href="{{ path('app_user') }}" class="pseudo desktop">{{ app.user.userIdentifier }}</a>
                <div class="parameter"></div>
            </header>
            {% include "/nav/navMenuMobile.html.twig" %}
            <div id="menuMain" class="flex">
                {% for teammate in equipes %}
                    <div class="teammate">
                        <span>{{ teammate.teamName }}</span>
                        <div class="equipeSeparation flex">
                            <div class="equipeObjet">
                                <figure class="imgEquipe">
                                    <img class="imgEquipeFigure" src="{{ asset(teammate.weapon.imagePath) }}" alt="image du Equipennage">
                                </figure>
                                <figure class="imgEquipe">
                                    <img class="imgEquipeFigure" src="{{ asset(teammate.accessory.imagePath) }}" alt="image du personnage">
                                </figure>
                            </div>
                            <figure class="imgPerso">
                                <img class="imgFigure" src="{{ asset(teammate.personnage.imagePath) }}" alt="image du personnage">
                            </figure>
                        </div>
                        <div class="infoTeammate flex">
                            <span>{{ teammate.personnage.category.nameCategory }}</span>
                            <span>|</span>
                            <span>{{ teammate.personnage.type.nameType }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="teammate flex newTeammate">
                    <a href="{{ path('app_creation_teammate') }}">+</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}