{% extends 'base.html.twig' %}

{% block title %}{{ 'é'|upper }}quipier{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </section>
        <section class="longSide">
            <header class="topBar flex">
                <div class="buttonNav mobile">
                    <span></span><span></span><span></span>
                </div>
                <div class="pseudo desktop">{{ app.user.userIdentifier }}</div>
                <div class="parameter"></div>
            </header>
            <div id="menuMain">
                {% for teammate in equipes %}
                    <div class="teammate">
                        <div>
                            <div>
                                {# <figure></figure>
                                <figure></figure> #}
                                <div>{{ teammate.weapon.name }}</div>
                                <div>{{ teammate.accessory.name }}</div>
                            </div>
                            <figure>
                                <figcaption>{{ teammate.personnage.name }}</figcaption>
                            </figure>
                        </div>
                        <div>
                            <span>{{ teammate.personnage.category.nameCategory }}</span>
                            <span>|</span>
                            <span>{{ teammate.personnage.type.nameType }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="teammate">
                    <span><a href="{{ path('app_creation_teammate') }}">+</a></span>
                </div>
            </div>
        </section>
    </main>
{% endblock %}