{% extends 'base.html.twig' %}

{% block body %}
    <nav class="desktop">
        <div class="menuButton"><a href="">{{ 'menu'|upper }}</a></div>
        <div class="menuButton"><a href="{{ path('app_teammate') }}">{{ 'équipier'|upper }}</a></div>
        <div class="menuButton"><a href="">{{ 'échoppe'|upper }}</a></div>
        <div class="menuButton"><a href="">{{ 'inventaire'|upper }}</a></div>
        <div class="menuButton"><a href="">{{ 'création'|upper }}</a></div>
        <div class="menuButton"><a href="{{ path('app_rank') }}">{{ 'classement'|upper }}</a></div>
        <div class="menuButton"><a href="{{ path('app_logout') }}">{{ 'déconnexion'|upper }}</a></div>
    </nav>
{% endblock %}