{% block body %}
    <nav class="mobileFlex nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <header class="nav-header flex">
            <a href="{{ path('app_user') }}" class="pseudo">{{ app.user.userIdentifier }}</a>
            <button  class="parameter mobile"><i class="fa-solid fa-gear"></i></button>
        </header>
        <ul class="nav-list">
            <li>
                <div class="menuButton"><a href="{{ path('app_main') }}">{{ 'menu'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_teammate') }}">{{ 'équipier'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="">{{ 'échoppe'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_stock_personnage') }}">{{ 'inventaire'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_creation_personnage') }}">{{ 'créa. perso.'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_creation_weapon') }}">{{ 'créa. arme.'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_creation_accessory') }}">{{ 'créa. équip'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_rank') }}">{{ 'classement'|upper }}</a></div>
            </li>
            <li>
                <div class="menuButton"><a href="{{ path('app_logout') }}">{{ 'déconnexion'|upper }}</a></div>
            </li>
        </ul>
    </nav>
{% endblock %}