{% extends 'base.html.twig' %}

{% block body %}
    <nav class="desktop">
        {# <div class="menuButton"><a href="">{{ 'partie rapide'|upper }}</a></div> #}
        <div class="menuButton"><a href="{{ path('app_register') }}">{{ 'inscription'|upper }}</a></div>
        <div class="menuButton"><a href="{{ path('app_login') }}">{{ 'connexion'|upper }}</a></div>
        <div class="menuButton"><a href="{{ path('app_rank') }}">{{ 'classement'|upper }}</a></div>
    </nav>
{% endblock %}